@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope");
body {
  font-family: "Annie Use Your Telescope";
  background-color: #fff3cc;
}

body .container {
  color: #444;
  width: 60rem;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
}

body .container-header {
  font-size: 40px;
}

body .container-description {
  font-size: 30px;
}

body .container .list {
  text-decoration: underline;
  font-size: 30px;
}
