@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope");
body {
  font-family: "Annie Use Your Telescope";
  background-color: #eee;
}

body .container {
  border: 1px solid #333;
  text-align: center;
}

body .container-header {
  border: 1px solid #333;
  font-size: 40px;
}

body .container-description {
  border: 1px solid #333;
}

body .container .list {
  border: 1px solid #f33;
  font-size: 20px;
}

body .container .form {
  border: 1px solid #f33;
}
