@import "_variables";

body {
  font-family: $telescope;
  background-color: $moleskin-white;
  .container {
    color: #444;
    margin: 200px;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    &-header {
      font-size: 40px;
    }
    &-description {
      font-size: 30px;
    }

    .list {
      text-decoration: underline;
      font-size: 30px;
    }

    .form {
    }
  }
}
